*{
	padding: 0 ;
	margin: 0;
}
.nav1{
	height:192px;
	background-color: white;
	border-bottom: 4px solid #3aa747;
}
.a1{
	width: 1200px;
	height: 37px;
	margin: 0 auto;
}
.h1{
	float: right;
}
.h1 img{
	float: right;
	margin-right: 10px;
	margin-top:13px;
}
.h1 ul{
	width: 620px;
	margin-right: -40px;
}
.h1 li{
	display: inline-block;
	text-decoration: none;
	margin-left: 25px;
	line-height: 37px;
	font-size: 15px;
	color: #5d5a5c;
}
.h1 a{
	text-decoration-line: none;
	color: black;
}
.h1 select{
	border: 0px;
	font-size: 15px;
	color: #5d5a5c;
}
.a1 p{
	float: left;
	font-size: 11px;
	color: #a3a3a3;
	margin-left: 500px;
	line-height:37px;
}
.a2{
	height: 155px;
	background-color:white;
	width: 1200px;
	margin: 0 auto;
}
.a2 img{
	margin-top: 20px;
}
.a2 form{
	float: right;
	margin-right: 180px;
	margin-top: 20px;
}
.a2 input{
	width: 600px;
	height: 48px;
}
.a2 ul{
	margin-top:26px;
	width: 1200px;
	height:40px;
}
.a2 li{
	display: inline-block;
	width: 100px;
	height:40px;
	text-align: center;
}
.a2 li:hover{
	border-bottom:4px solid #3aa747;
}
.a2 a:hover{
	color: #3aa747;
}
.a2 a{
	text-decoration-line: none;
	color: black;
}
.m1{
	float: right;
	width: 810px;
	height: 63px;
	margin-top: 35px;
}
.m1 input{
	float: left;
	border:1px solid black;
	border-right: 1px solid #cccccc;
}
.p8{
	border:1px solid black;
	width: 60px;
	height:48px;
	float: left;
	background-color: #ffffff;
	background-image: url('search.png');
	background-repeat: no-repeat;
	background-position: center;
	border-left: 1px solid #cccccc;
}
.a3{
	height: 680px;
}
.b1{
	width: 1200px;
	margin: 0 auto;
}
.b1 p{
	display: inline-block;
	float: left;
}
.b1 div{
	height:62px;
	width:1200px;
}
.b1 div p{
	line-height: 62px;
}
.p1{
	font-size: 16px;
	margin-left:25px; 
	line-height: 62px;
}
.p2{
	color: #c8c8c8;
	font-size: 13px;
}
.p3{
	margin-left: 960px;
	font-size:12px;
	color:#c8c8c8;
}
.nav2{
	height: 670px;
	background-color:#fff;
	background-image: url('banner.png');
	background-repeat: no-repeat;
	background-position: center;
}
.nav3{
	margin: 0 auto;
	width: 1200px;
}
.b2{
	border: 1px solid #c8c8c8;
	width: 1200px;
	height: 45px;
}
.b2 li{
	list-style: none;
	display: inline-block;
	width: 100px;
	height:45px;
	line-height: 45px;
	text-align: center;
	font-size: 15px;
}
.b2 li:first-child{
	background-color: #e5e5e5;
}
.b2 li a{
	text-decoration: none;
	color: #c8c8c8;
}
.b2 li a:hover{
	color: #3aa747;
}
.b3{
	border: 1px solid #c8c8c8;
	width: 1200px;
	height: 45px;
}
.b3 li{
	list-style: none;
	display: inline-block;
	width: 100px;
	height:45px;
	line-height: 45px;
	text-align: center;
	font-size: 15px;
}
.b3 li:first-child{
	background-color: #e5e5e5;
}
.b3 li a{
	text-decoration: none;
	color: #c8c8c8;
}
.b3 li a:hover{
	color: #3aa747;
}
.b4{
	border: 1px solid #c8c8c8;
	width: 1200px;
	height: 45px;
}
.b4 li{
	list-style:none;
	display: inline-block;
	width: 100px;
	height:45px;
	line-height: 45px;
	text-align: center;
	font-size: 15px;
}
.b4 li:first-child{
	background-color: #e5e5e5;
}
.b4 li a{
	text-decoration: none;
	color: #c8c8c8;
}
.b4 li a:hover{
	color: #3aa747;
}
.nav4{
	height: 825px;
	background-color: white;
}
.c{
	margin: 0 auto;
	width: 1200px;
	height: 620px;
	background-color: white;
	margin-top: 60px;
}
.nav{
	width:80px;
	height:592px;
	background-color: #030b09
}
.j1{
	border-bottom: 2px solid #595e5d;
	margin:0 auto;
	width:68px;
	height:115px;
	text-align: center;
}
.j1 a img{
	margin-top: 40px;
}
.u1 li{
	height:354px;
	width: 1200px;
}
.u1{
	text-align: center;
}
.u2{
	text-align: center;
}
.u1 li:first-child{
	margin-left: 10px;
}
.u1 li img{
	margin-top:20px;
}
.u2 li:first-child{
	margin-left: 10px;
} 
.u2 li{
	height:354px;
	width: 1200px;
	margin-top: 30px;
}
.u2 li img{
	margin-top: 45px;
}
.c li{
	display: inline-block;
	height: 294px;
	width: 270px;
	border: 1px solid #808080;
	float: left;
	margin-right: 25px;
	position: relative;
}
.u1 div{
	width:270px;
	height: 50px;
	background-color: black;
	color: white;
	opacity: 0.7;
	position: absolute;
	bottom: 0px;
}
.u1 div:hover{
	width: 270px;
	height: 294px;
	background-color: black;
	opacity:0.7;
}
.u1 div:hover .p5{
	margin-top: 125px;
	font-size: 21px;
}
.u1 div:hover .p6{
	margin-top: 26px;
	font-size: 21px;
}
.u1 div:hover .p7{
	margin-top: 125px;
	font-size: 21px;
}
.u1 div:hover .p9{
	margin-top: 26px;
	font-size: 21px;
}
.p6{
	margin-top:5px;
	font-size: 15px;
}
.p5{
	margin-top:3px;
	font-size: 15px;
}
.u2 div{
	width:270px;
	height: 50px;
	background-color: black;
	color: white;
	opacity: 0.7;
	position: absolute;
	bottom: 0px;
}
.u2 div:hover{
	width: 270px;
	height: 294px;
	background-color: black;
	opacity:0.7;
}
.u2 div:hover .p7{
	margin-top: 125px;
	font-size: 21px;
}
.u2 div:hover .p9{
	margin-top: 26px;
	font-size: 21px;
}
.p7{
	margin-top: 5px;
	font-size: 15px;
}
.p9{
	margin-top: 3px;
	font-size: 15px;
}
.nav5{
	height:100px;
	background-color:#f5f5f5;
}
.z{
	margin: 0 auto;
	width: 1200px;
}
.z img{
	float: left;
	margin-left:47px;
	margin-right: 20px;
}
.z li{
	float: left;
	width: 299px;
	border-right: 1px solid #888888;
	margin-top: 28px;
	list-style: none;
}
.z li:last-child{
	border-right: none;
}
.f{
	font-size: 20px;
}
.nav6{
	height: 100px;
	background-color: black;
}
.nav6 p{
	width: 100%;
	text-align: center;
	padding-top: 33px;
	color: white;
}
.nav6 a{
	text-decoration: none;
	color: white;
	font-size: 16px;
	padding: 0px 8px;
	border-right: 1px solid white; 
}
.nav6 a:last-child{
	border-right: none;
}

